main {
    margin: 0 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 5px 0;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 200%;
}

button {
    margin-top: 5px;
}

.img-container {
    max-width: 50%;
    min-width: 100px;
}

img {
    width: 100%;
    max-width: 200px;
    border: 2px solid gold;
}

.hidden {
    display: none;
}

.playbook {
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    max-width: 500px;
    background-color: steelblue;
    color: white;
}

.playbook-info-card {

}

.playbook-info-title {
    border: 2px solid steelblue;
}

.playbook-info-title:hover {
    cursor: pointer;
}

.playbook-info-content {
    border-right: 2px solid steelblue;
    border-left: 2px solid steelblue;
    border-bottom: 2px solid steelblue;
    padding: 5px;
}
